body {
  font-family: "Inter", sans-serif !important;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Tajawal", sans-serif;
}
:root {
  --yellow: #fed049;
  --green: #007580;
  --red: #e01b24;
  --white: #fafafa;
  --black: #000000;
}
